QPushButton{
     background-color: rgb(54, 60, 70);
     border-radius: myC;
     color: white;
     padding: 0.2em;
     }
QPushButton:pressed {
    background-color: black;
    color: red;
}
QPushButton:disabled {
    background-color: gray;
    color: green;
}
@myColor = ''
@myC = 4px