canlib==1.22.565
et-xmlfile==1.1.0
numpy==1.24.1
openpyxl==3.0.10
pandas~=1.5.3
pydantic==1.10.4
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
typing_extensions==4.5.0
PyYAML~=6.0
future~=0.18.2
canopen==2.1.0
PyQt6~=6.4.0
Jinja2~=3.1.2
qrainbowstyle~=0.9.6
QtPy~=2.3.0
pyqtgraph~=0.13.1
matplotlib~=3.7.0