altgraph==0.17.2
asgiref==3.2.10
canlib==1.21.463
click==7.1.2
et-xmlfile==1.1.0
measurement==3.2.0
mpmath==1.2.1
numpy==1.21.5
openpyxl==3.0.9
pandas==1.3.5
pefile==2021.9.3
psycopg2-binary==2.8.6
pydantic==1.9.2
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.2
PyQt5==5.15.6
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PyQt5-stubs==5.15.2.0
pyqt5-tools==5.15.4.3.2
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2018.5
pyuic5-tool==0.0.1
pywin32-ctypes==0.2.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
six==1.16.0
sqlparse==0.4.2
sympy==1.10.1
typing_extensions==4.3.0
xlrd==2.0.1
xlwt==1.3.0
